# LLM / OpenAI / OpenRouter
OPENROUTER_API_KEY=your-api-key-here
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgresql://postgres.[project-ref]:[password]@aws-[region].pooler.supabase.com:6543/postgres
ADMIN_USERNAME=admin_username
ADMIN_PASSWORD=YourStrongPassword@125789
ADMIN_EMAIL=your@email.com